<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2">
    <p><%= notice %></p>
    <%= link_to "投稿する", new_post_path, class: 'btn btn-default' %>

    <div class="row">

        <ul class="list-group">
          <% @posts.each do |post| %>
            <li class="list-group-item">
              <p class="post"><%= post.user.name %>の投稿 <br>
              <strong><%= post.content %></strong>
              </p>
              <div align="center"><%= image_tag post.picture.url %></div>
              <br>
              <% if current_user == post.user %>
                <%= link_to "編集", edit_post_path(post.id), class: 'btn-sm btn-success' %>
                <%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn-sm btn-danger' %>
               <% end %>
            </li>
          <% end %>
        </ul>

    </div>
  </div>
</div>
